<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="HTTPS Rule" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false"/>
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false"/>
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="Found"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
