@import 'tls-colors';
@import 'tls-fonts';

@mixin codeBlock {
	border: 1px solid $grey2;
	font-family: $courier;
	font-size: 9pt;
	tab-size: 2em;
	text-align: left;
	margin: ($gutter / 2) 0;
	overflow-x: scroll;
	background-color: $frostOverlay;
	color: $grey-2;
	
	&.scroll {
		max-height: 240px;
		overflow: scroll;
	}
	
	pre {
		margin: 0;
	}
	
	p {
		margin-bottom: ($gutter / 2);
	}
}

.debugOutput {
	@include codeBlock;
	position:relative;
	padding: ($gutter / 8) ($gutter / 4);
	line-height: 10pt;
	opacity: .5;
	transition: opacity .5s;
	
	&:hover {
		color: $black;
		opacity: 1.0;
	}

	.tag {
		background-color:rgba($black,.75);
		color: $white;
		position: absolute;
		top: 0;
		right: 0;
		padding: 2px 2px 1px 4px;
		border-bottom-left-radius: ($pxGutter / 2);
	}
}

.codeSample {
	@include codeBlock;
	max-width: 900px;
	padding: ($gutter / 3) ($gutter / 2);
	line-height: 140%;
	overflow-x: scroll;
	opacity: 1;

	.title {
		font-weight: bold;
		color: $blue;
		margin-bottom: ($gutter / 2);
	}
}

.notFound {
	color: $redText;
}

.sqlInsert, 
.sqlError {
	font-size: 8pt;
	font-family: $monaco;
}

.sqlError {
	color: $redText;
}

.JSONstringified {
	// white-space: pre;
	font-family: $monaco;
	font-size: 8pt;
	font-style: normal;
	line-height: 125%;
	tab-size: 3;
	opacity: .25;
	transition: opacity .5s;

	&:hover {
		opacity: 1.0;
	}
}