/* Ajax Loading Indicator - Also Shows Error Count with Link to Show Error Details  */

$spinnerSize: 36px;
$spinnerPadding: ($pxGutter * .75);

.ajaxLoader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: ($gutter / 2);
	justify-content: space-around;
	width: min-content; // adjusts if there are errors
	height:($spinnerSize + ($spinnerPadding * 2));
	background-color: rgba($halfwayToWhite, .75);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	padding: $spinnerPadding ($spinnerPadding * 2);
	box-sizing: border-box;
	border-bottom-left-radius: $pxGutter;
	border-bottom-right-radius: $pxGutter;
	z-index: 900;
	top: (($spinnerSize + ($spinnerPadding * 2)) * -1);
	transition: all $transitionDuration, width ($transitionDuration / 2);
	
	&.show {
		top: 0;
	}

	svg {
		width: $spinnerSize;
		height: $spinnerSize;
	}

	.counter {
		font-family: $barlowCondensed;
		font-size: 13pt;
		line-height: 13pt;
		text-align: center;
		font-weight: 300;
		color: $greyTextPrint;
	}

	.active, 
	.errors {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		gap: ($gutter / 2);
		font-size: 0;
		line-height: 0;
	}

	.errors {
		cursor: pointer;

		svg {
			width: ($spinnerSize * .75);
			height: ($spinnerSize * .75);
		}

		.errorMoreInfo {
			width: ($spinnerSize / 3);
			height: ($spinnerSize / 3);
			fill: $logo-red;
		}
	}

	&.hasErrors.hasActive {
		// width: (($spinnerSize + ($spinnerPadding * 2) + 24px) * 2);
		width: min-content;
	}

	// hide spinner when active list is empty
	&:not(.hasActive){
		.active {
			display: none;
		}
	}
	
	// hide error notice when errors list is empty
	&:not(.hasErrors){
		.errors {
			display: none;
		}
	}
}

.loadingSpinner {
	display: flex;
	align-items: center;
	
	.spinner {
		width: $spinnerSize;
		height: $spinnerSize;
	
		background-repeat: no-repeat;
		background-position: center;
	
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: center;
		-webkit-mask-position: left;
	
		animation-name: spin;
		animation-duration: 750ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 
		animation-timing-function: steps(12, start);
		
		margin: 0;
		padding: 0;
		font-size: 0;
	
		background-color: currentColor;
	
		-webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cpath d='M449.5 41.1c14.9 8.6 20 27.6 11.4 42.5l-59.6 103.3c-8.6 14.9-27.6 20-42.5 11.4-14.9-8.6-20-27.6-11.4-42.5L407 52.4c8.6-14.8 27.6-19.9 42.5-11.3z' opacity='.12'/%3E%3Cpath d='M558.9 150.5c8.6 14.9 3.5 33.9-11.4 42.5l-103.3 59.6c-14.9 8.6-33.9 3.5-42.5-11.4-8.6-14.9-3.5-33.9 11.4-42.5l103.3-59.6c14.9-8.6 33.9-3.5 42.5 11.4z' opacity='.2'/%3E%3Cpath d='M599 300c0 17.2-13.9 31.1-31.1 31.1H448.6c-17.2 0-31.1-13.9-31.1-31.1 0-17.2 13.9-31.1 31.1-31.1h119.3c17.2 0 31.1 13.9 31.1 31.1z' opacity='.28'/%3E%3Cpath d='M401.7 358.7c8.6-14.9 27.6-20 42.5-11.4L547.6 407c14.9 8.6 20 27.6 11.4 42.5-8.6 14.9-27.6 20-42.5 11.4l-103.3-59.6c-15-8.6-20.1-27.7-11.5-42.6z' opacity='.36'/%3E%3Cpath d='M358.7 401.7c14.9-8.6 33.9-3.5 42.5 11.4l59.6 103.3c8.6 14.9 3.5 33.9-11.4 42.5-14.9 8.6-33.9 3.5-42.5-11.4l-59.6-103.3c-8.5-14.8-3.4-33.9 11.4-42.5z' opacity='.44'/%3E%3Cpath d='M300 599c-17.2 0-31.1-13.9-31.1-31.1V448.6c0-17.2 13.9-31.1 31.1-31.1 17.2 0 31.1 13.9 31.1 31.1v119.3c0 17.2-13.9 31.1-31.1 31.1z' opacity='.52'/%3E%3Cpath d='M241.3 401.7c14.9 8.6 20 27.6 11.4 42.5L193 547.6c-8.6 14.9-27.6 20-42.5 11.4-14.9-8.6-20-27.6-11.4-42.5l59.6-103.3c8.6-15 27.7-20.1 42.6-11.5z' opacity='.6'/%3E%3Cpath d='M198.3 358.7c8.6 14.9 3.5 33.9-11.4 42.5L83.6 460.9c-14.9 8.6-33.9 3.5-42.5-11.4-8.6-14.9-3.5-33.9 11.4-42.5l103.3-59.6c14.8-8.6 33.9-3.5 42.5 11.3z' opacity='.68'/%3E%3Cpath d='M182.5 300c0 17.2-13.9 31.1-31.1 31.1H32.1C14.9 331.1 1 317.2 1 300c0-17.2 13.9-31.1 31.1-31.1h119.3c17.2 0 31.1 13.9 31.1 31.1z' opacity='.76'/%3E%3Cpath d='M41.1 150.5c8.6-14.9 27.6-20 42.5-11.4l103.3 59.6c14.9 8.6 20 27.6 11.4 42.5-8.6 14.9-27.6 20-42.5 11.4L52.4 193c-14.8-8.6-19.9-27.6-11.3-42.5z' opacity='.84'/%3E%3Cpath d='M150.5 41.1c14.9-8.6 33.9-3.5 42.5 11.4l59.6 103.3c8.6 14.9 3.5 33.9-11.4 42.5-14.9 8.6-33.9 3.5-42.5-11.4L139.1 83.6c-8.6-14.9-3.5-33.9 11.4-42.5z' opacity='.92'/%3E%3Cpath d='M300 182.5c-17.2 0-31.1-13.9-31.1-31.1V32.1C268.9 14.9 282.8 1 300 1c17.2 0 31.1 13.9 31.1 31.1v119.3c0 17.2-13.9 31.1-31.1 31.1z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cpath d='M449.5 41.1c14.9 8.6 20 27.6 11.4 42.5l-59.6 103.3c-8.6 14.9-27.6 20-42.5 11.4-14.9-8.6-20-27.6-11.4-42.5L407 52.4c8.6-14.8 27.6-19.9 42.5-11.3z' opacity='.12'/%3E%3Cpath d='M558.9 150.5c8.6 14.9 3.5 33.9-11.4 42.5l-103.3 59.6c-14.9 8.6-33.9 3.5-42.5-11.4-8.6-14.9-3.5-33.9 11.4-42.5l103.3-59.6c14.9-8.6 33.9-3.5 42.5 11.4z' opacity='.2'/%3E%3Cpath d='M599 300c0 17.2-13.9 31.1-31.1 31.1H448.6c-17.2 0-31.1-13.9-31.1-31.1 0-17.2 13.9-31.1 31.1-31.1h119.3c17.2 0 31.1 13.9 31.1 31.1z' opacity='.28'/%3E%3Cpath d='M401.7 358.7c8.6-14.9 27.6-20 42.5-11.4L547.6 407c14.9 8.6 20 27.6 11.4 42.5-8.6 14.9-27.6 20-42.5 11.4l-103.3-59.6c-15-8.6-20.1-27.7-11.5-42.6z' opacity='.36'/%3E%3Cpath d='M358.7 401.7c14.9-8.6 33.9-3.5 42.5 11.4l59.6 103.3c8.6 14.9 3.5 33.9-11.4 42.5-14.9 8.6-33.9 3.5-42.5-11.4l-59.6-103.3c-8.5-14.8-3.4-33.9 11.4-42.5z' opacity='.44'/%3E%3Cpath d='M300 599c-17.2 0-31.1-13.9-31.1-31.1V448.6c0-17.2 13.9-31.1 31.1-31.1 17.2 0 31.1 13.9 31.1 31.1v119.3c0 17.2-13.9 31.1-31.1 31.1z' opacity='.52'/%3E%3Cpath d='M241.3 401.7c14.9 8.6 20 27.6 11.4 42.5L193 547.6c-8.6 14.9-27.6 20-42.5 11.4-14.9-8.6-20-27.6-11.4-42.5l59.6-103.3c8.6-15 27.7-20.1 42.6-11.5z' opacity='.6'/%3E%3Cpath d='M198.3 358.7c8.6 14.9 3.5 33.9-11.4 42.5L83.6 460.9c-14.9 8.6-33.9 3.5-42.5-11.4-8.6-14.9-3.5-33.9 11.4-42.5l103.3-59.6c14.8-8.6 33.9-3.5 42.5 11.3z' opacity='.68'/%3E%3Cpath d='M182.5 300c0 17.2-13.9 31.1-31.1 31.1H32.1C14.9 331.1 1 317.2 1 300c0-17.2 13.9-31.1 31.1-31.1h119.3c17.2 0 31.1 13.9 31.1 31.1z' opacity='.76'/%3E%3Cpath d='M41.1 150.5c8.6-14.9 27.6-20 42.5-11.4l103.3 59.6c14.9 8.6 20 27.6 11.4 42.5-8.6 14.9-27.6 20-42.5 11.4L52.4 193c-14.8-8.6-19.9-27.6-11.3-42.5z' opacity='.84'/%3E%3Cpath d='M150.5 41.1c14.9-8.6 33.9-3.5 42.5 11.4l59.6 103.3c8.6 14.9 3.5 33.9-11.4 42.5-14.9 8.6-33.9 3.5-42.5-11.4L139.1 83.6c-8.6-14.9-3.5-33.9 11.4-42.5z' opacity='.92'/%3E%3Cpath d='M300 182.5c-17.2 0-31.1-13.9-31.1-31.1V32.1C268.9 14.9 282.8 1 300 1c17.2 0 31.1 13.9 31.1 31.1v119.3c0 17.2-13.9 31.1-31.1 31.1z'/%3E%3C/svg%3E");
	}

	&.black {
		color: $black;
	}

	&.white {
		color: $white;
	}

	.label {
		font-family: $montserrat;
		font-size: 14pt;
		font-weight: 600;

		color: currentColor;
	}
}

.errors {
	.errorSymbol {
		fill: $logo-red;
	}
	
	.counter {
		color: $logo-red;
	}
}


@supports (gap: $gutter) {
	.loadingSpinner {
		gap: ($gutter / 2);
	}
}

@supports not(gap: $gutter) {
	.loadingSpinner .label {
		padding-left: ($gutter / 2);
	}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}