/* ########## Global definition of sizes / spacing ########## */

// 'gutter' size
$gutter: 1rem;
$pxGutter: 8px;


// major element sizes
$sidebarMaxWidth: 300px;
$sidebarWidth: 20%;

$maxArticleWidth: 90rem;

// icons
$iconWidth: 12mm;

// buttons
// and links that look like buttons
$buttonHeight: 10mm;
$buttonMinWidth: 40mm;

// barcodes
$barcodeWidth: 2.5in;
$barcodeWidthPrint: 1.75in;