/* ########## Global definition of colors for SCSS ########## */

// shades of dark blue
$darkBlue-2: #1e355a;
$darkBlue-1: #1c3962;
$darkBlue:  #193d6c;
$darkBlue1: #1a4372;
$darkBlue2: #1d4978;
$darkBlue3: #205080;
$darkBlue4: #225484;
$darkBlue5: #235889;

// between darkBlue and blue: 1 is darkest
$darkBlueTransition1: #1a699f;
$darkBlueTransition2: #117ab4;
$darkBlueTransition3: #098ac9;

// shades of blue
$blue-2: #009bdf;
$blue-1: #00a3e6;
$blue:  #00aeef;
$blue1: #18b2ee;
$blue2: #28b5ed;
$blue3: #34b7ed;
$blue4: #4cbbed;
$blue5: #63bfec;

// between blue and lightBlue: 1 is darkest
$blueTransition1: #79c9f0;
$blueTransition2: #8ed2f4;
$blueTransition3: #9fdaf7;

// main blue gradient
$blueGradientLight: $blue;
$blueGradientDark: $blue-2;

// shades of light blue
$lightBlue-2: #b9e5fb;
$lightBlue-1: #c7eafb;
$lightBlue:  #d4effc;
$lightBlue1: #daf1fd;
$lightBlue2: #e0f3fd;
$lightBlue3: #e6f5fd;
$lightBlue4: #ebf8fe;
$lightBlue5: #f1fafe;

// shades of green
$green-2: #059849;
$green-1: #01a04c;
$green:  #00a64f;
$green1: #27aa52;
$green2: #3bae55;
$green3: #4ab259;
$green4: #56b75c;
$green5: #61bd61;

// between green and lightGreen: 1 is darkest
$greenTransition1: #7fc975;
$greenTransition2: #90d685;
$greenTransition3: #9fe298;

// light green
$lightGreen-2: #b6daa7;
$lightGreen-1: #c3e0b4;
$lightGreen: #cfe5bd;
$lightGreen1: #d2e8c8;
$lightGreen2: #dbedd3;
$lightGreen3: #e4f1de;
$lightGreen4: #edf6e9;
$lightGreen5: #f6fbf4;

// shades of red
$red-2: #cb262c;
$red-1: #d92429;
$red:  #ed1d24;
$red1: #ed2e2c;
$red2: #ee3833;
$red3: #ef423a;
$red4: #ef4a42;
$red5: #f0524a;

// shades of orange
$orange-2: #874e26;
$orange-1: #af602a;
$orange:  #d8702a;
$orange1:  #ea8625;
$orange2:  #f59b21; // nearly logo-yellow-shadow
$orange3:  #f8a91c;
$orange4:  #f9b825;
$orange5:  #fdc424;

// shades of yellow
$yellow-2: #fad922;
$yellow-1: #fbe222;
$yellow:  #fff200;
$yellow1: #fcef4b;
$yellow2: #fcf16b;
$yellow3: #fcf284;
$yellow4: #fef999;
$yellow5: #ffffae;

// shades of grey
$grey-2: #333333; // greyTextPrint
$grey-1: #3f3f3f;
$grey: #515151;
$grey1: #646364;
$grey2: #777777; // closest to 'grey (808080)'
$grey3: #929191; // greyText
$grey4: #afaeaf;
$grey5: #d1d3d4; // logo buffer shadow

// shades of purple to nearly magenta
$purple-2: #3d184f;
$purple-1: #4f2163;
$purple: #632576; // #602977
$purple1: #722589;
$purple2: #8d1fa4;
$purple3: #a819bf;
$purple4: #c212d9;
$purple5: #dd0cf4;
$magenta: magenta; // (#FF00FF is true magenta)
$hotPurple: purple; // #800080 (html purple)





// LOGO colors
$logo-glint: #fff;
$logo-blue: #0071bb;
$logo-blue-shadow: #005086;
$logo-green: #00a651;
$logo-green-shadow: #056f45;
$logo-red: #ed1d24;
$logo-red-shadow: #af2a30;
$logo-yellow: #fff200;
$logo-yellow-shadow: #f99c21;
$logo-buffer: #fff;
$logo-buffer-shadow: #d1d3d4;
$logo-letter-shadow: #000;

$logo-apple: #ef3736;
$logo-apple-shadow: #a6272a;
$logo-apple-deep-shadow: #9a262b;

$logo-apple-leaf-glint: #97c7a7;
$logo-apple-leaf: #5aa875;
$logo-apple-leaf-shadow: #40805b;

$logo-apple-stem: #8e6a31;
$logo-apple-stem-highlight: #a4773b;
$logo-apple-stem-underside: #6c5429;
$logo-apple-stem-shadow: #55451e;

$logo-bulb-stop-1: #fff218;
$logo-bulb-stop-2: #c3922c;
$logo-bulb-stop-3: $logo-bulb-stop-2;
$logo-bulb-stop-4: #f4c615;
$logo-bulb-stop-5: #fed401;
$logo-bulb-stop-6: #fcee23;
$logo-bulb-stop-7: #ffffff;

// OTHER colors
$brown: #6b442a; // rgb(116, 75, 47);
$pink: #fdd8df;





// PAGE
$white          : #fff;
$black          : #000;
$halfwayToBlack : #142b45;
$pageBG		    : $lightBlue5;
$veryLight	    : $lightBlue; // figure background
$frostOverlay	: rgba($white, .75);
$whiteBGfade    : #eff9fe; // fade 90% opacity
$halfwayToWhite : #f8fdff; // halfway between lightBlue5 and white
$buff			: #ffffd7;


// BORDERS
$veryLightBorderOnWhite	: $lightBlue;
$lightBorderOnWhite		: $blueTransition2;
$mediumBorderOnWhite	: $blue-2;
$darkBorderOnWhite		: $darkBlueTransition2;


// LINKS
$link				: $blue-1;
$linkHover			: $darkBlue5;
$linkActive			: $green;
$linkVisited		: $blue-2;
$linkVisitedHover	: $darkBlue3;
$linkPrint			: $blue-2;


// ZEBRA STRIPING
$zebraStripeOdd		: $halfwayToWhite;
$zebraStripeEven	: $white;
$rowHighlight		: $lightBlue-2;
$rowHighlight       : $yellow5;
$rowHighlightPink	: $pink;


// RED TEXT
$almostRedText		: lighten($logo-red, 20%); // before comitting to redText (ie: hover)
$redText			: $logo-red;
$redTextPrint		: $logo-apple-shadow;

$redOutline			: $redTextPrint;
$redFill			: pink;


// ORANGE TEXT
$orangeText				: $orange2;
$orangeTextPrint		: $orange1;
$orangeBackground		: $orange5;
$orangeBackgroundPrint	: gold;


// BROWN TEXT
$brownText			: $brown;
$brownTextPrint		: $brown;


// PURPLE TEXT
$purpleText			: $purple;
$purpleTextPrint	: $purple;


// BLUE TEXT
$almostBlueText		: $blue-2; // before comitting to blueText (ie: hover)
$blueText			: $logo-blue;
$blueTextPrint		: $logo-blue-shadow;


// GREEN TEXT
$almostGreenText	: lighten($logo-green, 20%); // before comitting to greenText (ie: hover)
$greenText			: $logo-green;
$greenTextPrint		: $logo-green-shadow;


// FINE (GREY) PRINT
$greyText		: $grey3;
$greyTextPrint	: $grey-2;
$grayText		: $greyText;
$grayTextPrint	: $greyTextPrint;


// INFO BLUE (i) icon
$infoBlue		: #79b7f5;
$infoBlueHover	: #3065dd;



// BARCODES
$barcodeBG: #fff;


// evaluation or retiring sellingStatus types: "DROP", "TBD", "TBD25", "NLS"
.sellingStatusEVALUATE {
	color: $grey2;
	font-style: italic;
}
.sellingStatusTEST {
	color: $grey1;
}
.sellingStatusSTOCK {
	color: inherit;
}
.sellingStatusDIGITAL {
	color: $darkBlue-2;
}
.sellingStatusFIVEDAYS {
	color: $darkBlue;
}
.sellingStatusDIRECT {
	color: $darkBlue2;
}
.sellingStatusTBD {
	color: $orange-2;
}
.sellingStatusTBD25 {
	color: $orangeText;
}
.sellingStatusTBD50 {
	color: $redText;
}
.sellingStatusTBD75 {
	color: $hotPurple;
	font-weight: bold;
}
.sellingStatusDBIN {
	color: $purple5;
	font-weight: bold;
}
.sellingStatusNLS {
	color: $grey2;
	opacity: .5;
}
.sellingStatusINTERNAL {
	color: $grey;
	font-style: italic;
}
.sellingStatusREMOVE {
	color: $logo-apple-deep-shadow;
	text-decoration: line-through;
}
.sellingStatusPURGE {
	color: $purple5;
	color: hotpink;
	text-decoration: line-through;
}
// sold out is sellingStatusSOLDOUT
.sellingStatusSOLDOUT {
	color: $redText;
	opacity: 1;
}
