@import 'tls-colors';
@import 'tls-fonts';

.debugOutput {
	border: 1px solid $grey2;
	font-family: $courier;
	font-size: 9pt;
	line-height: 10pt;
	tab-size: 3;
	overflow-x: scroll;
	margin: .5em 0;
	padding: .125em .25em;
	background-color: $frostOverlay;
	color: $grey-2;
	opacity: .5;
	transition: opacity .5s;
	
	&:hover {
		color: $black;
		opacity: 1.0;
	}

	&.scroll {
		max-height: 240px;
		overflow: scroll;
	}

	pre {
		margin: 0;
	}

	p {
		margin-bottom: ($gutter / 2);
	}
}

.notFound {
	color: $redText;
}

.sqlInsert, 
.sqlError {
	font-size: 8pt;
	font-family: $monaco;
}

.sqlError {
	color: $redText;
}

.JSONstringified {
	// white-space: pre;
	font-family: $monaco;
	font-size: 8pt;
	font-style: normal;
	line-height: 125%;
	tab-size: 3;
	opacity: .25;
	transition: opacity .5s;

	&:hover {
		opacity: 1.0;
	}
}