
.newList {
	background-color: #eee;
	margin-bottom: $gutter;
	padding: $gutter;
	box-sizing: border-box;
	
	fieldset {
		margin: 0;
		padding: $gutter;
		box-sizing: border-box;
		border: 1px solid grey;
	}
	
	fieldset.listName {
		padding: 0;
		border: 0px solid transparent;
	}
	
	fieldset.toggleSourceMode {
		display: inline-flex;
		flex-flow: row nowrap;
		margin: $gutter 0;
		padding: 0;
		color: grey;
		background-color: black;
		border: 3px solid grey;
		border-radius: 50px;
		
		input {
			display: none;
		}
		
		.toggle {
			& + label {
				padding: ($gutter / 2) $gutter;
				border-radius: 50px;
				cursor: pointer;
			}
			
			&:checked + label {
				background-color: white;
				color: black;
			}
		}
	}
	
	fieldset.sourceImport, 
	fieldset.sourceCopy {
		border: 1px solid grey;
		box-sizing: border-box;
	}
	
	.importFormatHint {
		display: block;
		margin: ($gutter / 2) 0;
	}
}




.instructions {
	margin: 4px 0;
	color: #235889;
	font-style: italic;
}

table.namesList {
	border-bottom: 1px solid $borderBetweenColor;
	border: 1px solid black;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
	max-width: 1200px;
	
	thead {
		th {
			text-align: left;
			border-bottom: 2px solid black;
			padding: 4px ($gutter / 2);

			&.tdc {
				text-align: center;
			}
			&.tdr {
				text-align: right;
			}
		}
	}
	
	tbody {
		td {
			padding: 4px ($gutter / 2);
			border-bottom: 1px solid #ccc;

			&.tdc {
				text-align: center;
			}
			&.tdr {
				text-align: right;
			}
		}
		
		tr {
			&:hover {
				background-color: rgba(255,255,0, .25);
			}
			
			&:last-of-type {
				td {
					border-bottom: 0px solid transparent;
				}
			}
				
			&:nth-child(odd) {
				background-color: rgba(0,0,0, .05);
				
				&:hover {
					background-color: rgba(255,255,0, .25);
				}
			}
		}
	}
	
	tfoot {
		border-top: 2px solid grey;
		td {
			padding: 4px ($gutter / 2);
		}
	}
	
	.contentEditable {
		border: 1px solid rgba(0,0,0, .15);
		background-color: rgba(255,255,255, .25);
		padding: 4px;
		width: 100%;
		font-size: 12pt;

		&::placeholder {
			color: #ddd;
		}
	}

	.swap {
		text-decoration: none;
		color: #00AEEF;
	}
	
	.updateName {
		font-size: 10pt;
		background-color: #00AEEF;
		border: 0px solid transparent;
		padding: 0px 3px 1px 3px;
		margin: 0;
		box-shadow: none;
		color: white;
		border-radius: 2px;
	}

	.deleteName {
		text-decoration: none;
		color: red;
	}
}




form.addName {
	border: 1px solid #63BFEC;
	margin: $gutter 0;
	padding: $gutter;
	background-color: #F1FAFE;
	
	fieldset {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: $gutter;
		border: 0px solid transparent;
		margin: 0;
		padding: 0;
	}
	
	legend {
		display: block;
		margin-bottom: $gutter;
		font-weight: bold;
	}

	.inputGroup {
		display: flex;
		flex-flow: column nowrap;
	}
}



.groupsAssignedEditor {
	position: fixed;
	top: 20px;
	width: 400px;
	right: -400px;
	border: 1px solid black;
	background-color: rgba(255,255,255, .95);
	margin: 0;
	padding: $gutter;
	box-sizing: border-box;
	transition: all .25s;

	&.show {
		right: 0;
	}

	ul {
		li {
			padding: ($gutter / 2) 0 ($gutter / 2) ($gutter / 2);

			&:hover {
				background-color: #ffd;
			}
		}
	}
}






